@model HRMS_Silicon.ViewModel.DepartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you wa to delete this?</h3>
<div>
    <h4>DepartmentModel</h4>
    <hr />   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department_name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_active)
        </dd>*@
    </dl>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Department_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
